body {
  font-family: 'Press Start 2P', cursive;
  margin: 0 auto;
  text-align: center;
  background-color: #f8f9fa;
}

html {
  height: 100%;
}

img {
  width: 150px;
}

.top-bit {
  height: 70px;
}

.list {
  height: 100%;
  top: 150px;
  margin: 0 auto;
  padding: 100px;
  background-color: #f8f9fa;
}

.pokemon-button {
  font-family: 'Press Start 2P', cursive;
  min-width: 234px;
  margin: 10px 20px;
}

.detail {
  height: 100%;
  margin: 0 auto;
}

.move-list {
  display: inline-block;
}